version: '3.8'
services:
  postgres_citus_cartagena:
    image: citusdata/citus:11.2
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: adminpass
      POSTGRES_DB: hce_cartagena
    ports:
      - "5440:5432" # Externo:5440, Interno:5432
    volumes:
      - cartagena_pgdata:/var/lib/postgresql/data
    networks:
      - hce_net

  postgrest_cartagena:
    image: postgrest/postgrest:v10.1.1
    environment:
      PGRST_DB_URI: postgres://admin:adminpass@postgres_citus_cartagena:5432/hce_cartagena
      PGRST_DB_ANON_ROLE: web_anon
      PGRST_DB_SCHEMA: public
      PGRST_SERVER_PORT: 3000
    depends_on:
      - postgres_citus_cartagena
    ports:
      - "3000:3000"
    networks:
      - hce_net

  hapi_fhir_cartagena:
    image: hapiproject/hapi:v6.10.0
    ports:
      - "8080:8080"
    networks:
      - hce_net

  fastapi_gateway_cartagena:
    build:
      context: ./fastapi_gateway
      dockerfile: Dockerfile
    environment:
      POSTGREST_URL: http://postgrest_cartagena:3000
      HAPI_FHIR_URL: http://hapi_fhir_cartagena:8080/fhir
      JWT_SECRET: "supersecretkey"
      SEDES_URLS: "http://cartagena.fastapi:8000,http://sincelejo.fastapi:8000,http://monteria.fastapi:8000"
    ports:
      - "8000:8000"
    depends_on:
      - postgrest_cartagena
      - hapi_fhir_cartagena
    networks:
      - hce_net

volumes:
  cartagena_pgdata:

networks:
  hce_net:
    driver: bridge
